@import "tailwindcss";

.prof {
  /* Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */

  /* Webkit (Chrome, Safari) */
}
.prof::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px; /* Adjust for header height */
}

.light {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease-in-out;

  .stat {
    color: #3b82f6;
  }
}

.dark {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;

  .stat {
    background-color: #3b82f6;
    color: white;
  }

  .stat2 {
    color: white;
  }

  .stat3 {
    color: rgb(236, 236, 236);
  }
}
.project {
  width: 280px; /* same width */
  height:280px; /* same height */
  border-radius: 50%; /* makes it circular */
  overflow: hidden; /* ensures content doesn't stick out */
  transition: 0.3s ease-in-out;
}

.project:hover {
  border-radius: 20px;
  box-shadow: 0 10px 100px #3b82f6, 0 25px 250px #3b82f6,
    0 40px 400px #3b82f6 0 50px 500px #3b82f6;
  transition: 0.3s ease-in-out;
}
