* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
}

.logo-img {
  border-radius: 50%;
}

/* ==================== HAMBURGER MENU =============== */

header ul {
  display: grid;
  gap: 10%;
}

header ul::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3.5px;
  background-color: rgb(0, 191, 255);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

header ul:hover::after {
  width: 120%;
}

header ul li a {
  text-decoration: none;
  color: rgb(0, 191, 255);
}

nav {
  padding: 1rem;
  display: flex;
  background-image: linear-gradient(
    to right,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    rgba(255, 0, 242, 0.199)
  );
  font-weight: 900;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgb(0, 191, 255);
  height: 10vh;
}
nav li a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 191, 255);
  padding-bottom: 10px;
}

nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3.5px;
  background-color: rgb(0, 191, 255);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

nav li a:hover::after {
  width: 125%;
}

.off-screen-menu {
  /* background-image: linear-gradient(to top, rgb(0, 191, 255), purple, purple); */
  background-image: linear-gradient(#000, #000, #000, rgb(0, 191, 255));
  box-shadow: 0 0 10px rgb(236, 11, 236);
  margin-top: 8%;
  border-radius: 20px;
  height: 57vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  transition: 0.3s ease;
  color: white;
}

.ham-menu {
  display: none;
}

.main2 {
  margin-right: auto;
  padding-left: 30px;
  font-size: 18px;
  text-align: justify;
}

.div {
  /* margin-top: 80%; */
  margin-left: -20%;
  width: 180%;
  padding-left: 100px;
  text-align: justify;
}

.myfoot {
  margin-right: auto;
  padding-left: 30px;
  /* margin-bottom: -5%; */
}

.main {
  display: flex;
  color: white;
  list-style: none;
  gap: 2rem;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-left: auto;
  align-items: center;
}

.text1 {
  background: linear-gradient(to right, purple, rgb(0, 191, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mylogo {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.off-screen-menu li {
  list-style: none;
}

.ham-menu span {
  height: 3.5px;
  background-image: linear-gradient(
    to right,
    rgb(228, 10, 228),
    rgb(0, 191, 255)
  );
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 0.8;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  height: 3px;
  transform: translate(-50%, 50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  height: 3px;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.text2 {
  display: none;
}

.text1 {
  /* margin-left: -115%; */
}

/* Dark and Light Mode */
#light-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  background: rgb(202, 19, 202);
  color: rgb(0, 191, 255);
  font-weight: 700;
  padding-right: 80px;
  padding-left: 4px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 191, 255);
  cursor: pointer;
  display: none; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  z-index: 10000;
}

#dark-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  background: rgb(202, 19, 202);
  color: rgb(0, 191, 255);
  font-weight: 700;
  padding-right: 80px;
  padding-left: 4px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 191, 255);
  cursor: pointer;
  display: none; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  z-index: 10000;
}

/* Profile Icon */
#profile-icon {
  padding-top: 2px;
  scale: 1.5;
  padding-bottom: 5px;
  color: rgb(0, 191, 255);
}

#profile-icon:hover {
  transition: 0.3s ease;
  cursor: pointer;
}

#profile-icon:focus-within {
  color: rgb(0, 191, 255);

  /* background: linear-gradient(to right, purple, rgb(0, 191, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
}

/* ==================== Profile Page =============== */
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  visibility: hidden;
  scale: 0.22;
  margin-left: 56%;
  border-radius: 50px;
  margin-top: -26%;
  margin-right: 35%;
  background-color: #000;
  box-shadow: 0 0 30px rgba(0, 191, 255);
  width: 69.6%;
}

.profile-page.active {
  visibility: visible;
}

.profile-img-container {
  margin-top: -34%;
  margin-bottom: 20%;
}

.profile-img {
  border-radius: 50%;
  scale: 0.35;
}

.profile-name-container {
  margin-top: -50%;
  scale: 4.8;
}

/* profile buttons */
.profile-buttons {
  display: flex;
  gap: 10%;
  scale: 3.5;
  width: 30%;
  margin-top: 25%;
  margin-right: -15%;
}

.profile-button {
  background-color: rgb(0, 191, 255);
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}

.profile-button:active {
  background-color: white;
  color: black;
}

/*================= Nav Bottom ======================*/
.nav-bottom {
  display: none;
}
.profile-icon2 {
  display: none;
}

/*================== Responsive Design ====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
}

.logo-img {
  border-radius: 50%;
}

/* ==================== HAMBURGER MENU =============== */

header ul {
  display: flex;
  gap: 10%;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: rgb(0, 191, 255);
}

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #000, rgba(255, 0, 242, 0.199));
  font-weight: 900;
  box-shadow: 0 0 5px rgb(0, 191, 255);
  height: 10vh;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.off-screen-menu {
  background: linear-gradient(#000, rgb(0, 191, 255));
  box-shadow: 0 0 10px rgb(236, 11, 236);
  position: fixed;
  top: 0;
  right: -450px;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.3s ease;
  color: white;
}

.ham-menu {
  display: none;
}

/*================== Responsive Design ====================*/

@media (max-width: 1024px) {
  nav {
    height: 8vh;
  }
  nav ul {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .ham-menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  .off-screen-menu.active {
    right: 0;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0.8rem;
  }
  .logo-img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 426px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-bottom {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1px;
    background: linear-gradient(to left, #000, #000);
    box-shadow: 0 0 5px rgb(228, 10, 228);
  }
  .mylogo {
    scale: 0.9;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .logo-img {
  }

  .off-screen-menu {
    width: 100%;
    max-width: 100%;
  }
  .nav-bottom p {
    font-size: 10px;
  }

  .nav-bottom a {
    text-decoration: none;
    color: rgb(0, 191, 255);
  }

  .ham-menu {
    display: none;
  }

  .profile-page {
    display: none;
  }

  nav ul li a {
    display: none;
  }

  .text1 {
    display: none;
  }

  header {
    display: block;
  }

  .main li a {
    display: none;
  }

  .text2 {
    display: block;
    width: 60vw;
    margin: 0 -90px;
    background: linear-gradient(to right, purple, rgb(0, 191, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .profile-icon2 {
    color: rgb(0, 191, 255);
  }

  .mylogo {
    gap: 6rem;
    display: flex;
  }

  #profile-icon {
    margin-left: -20px;
  }
}
